<footer id="footer">
	<div class="container">
		<div class="footer-field">
			<div class="logo logo--footer">
				@@include("svg/logo.html")
			</div>
			<div class="footer-field__box">
				<div class="footer-field__menu">
					<h3 class="footer-field__title">Информация</h3>
					<ul class="footer-field__menu-list">
						<li class="footer-field__menu-item">
							<a href="#">Главная</a>
						</li>
						<li class="footer-field__menu-item">
							<a href="#">Галерея</a>
						</li>
						<li class="footer-field__menu-item">
							<a href="#">Проекты</a>
						</li>
						<li class="footer-field__menu-item">
							<a href="#">Сертификаты</a>
						</li>
						<li class="footer-field__menu-item">
							<a href="#">Контакты</a>
						</li>
					</ul>
				</div>
				<div class="footer-field__contacts">
					<h3 class="footer-field__title">Контакты</h3>
					<ul class="footer-field__contacts-list">
						<li class="footer-field__contacts-item">
							<div class="footer-field__contacts-svg-wrup">
								@@include("svg/mapmarker.html")
							</div>
							<p>100000, Республика Казахстан, <br>г. Караганда, ул. Телевизионная 10</p>
						</li>
						<li class="footer-field__contacts-item">
							<div class="footer-field__contacts-svg-wrup">
								@@include("svg/clock.html")
							</div>
							<p>Пн-Пт с 10:00 - 19:00</p>
						</li>
						<li class="footer-field__contacts-item">
							<div class="footer-field__contacts-svg-wrup">
								@@include("svg/phon.html")
							</div>
							<a href="tel:+380000000000">+38 (000) 000 00 00</a>
						</li>
						<li class="footer-field__contacts-item">
							<div class="footer-field__contacts-svg-wrup">
								@@include("svg/mail.html")
							</div>
							<a href="mailto:mail@gmail.com">mail@gmail.com</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-field__social">
				<h3 class="footer-field__title">Социальные сети</h3>
				<ul class="footer-field__social-list">
					<li class="footer-field__social-items">
						<!-- <noindex> -->
						<a href="#" rel="nofollow noopener noreferrer" target="_blank">
							@@include("svg/facebook.html")
						</a>
						<!-- </noindex> -->
					</li>
					<li class="footer-field__social-items">
						<!-- <noindex> -->
						<a href="#" rel="nofollow noopener noreferrer" target="_blank">
							@@include("svg/tviter.html")
						</a>
						<!-- </noindex> -->
					</li>
					<li class="footer-field__social-items">
						<!-- <noindex> -->
						<a href="#" rel="nofollow noopener noreferrer" target="_blank">
							@@include("svg/linkedin.html")
						</a>
						<!-- </noindex> -->
					</li>
					<li class="footer-field__social-items">
						<!-- <noindex> -->
						<a href="#" rel="nofollow noopener noreferrer" target="_blank">
							@@include("svg/pinterest.html")
						</a>
						<!-- </noindex> -->
					</li>
				</ul>
			</div>
		</div>
	</div>
	<hr class="line">
	<p class="copyrigts">© 2019 Digital Project. Все права защищены.</p>
</footer>