<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<title>Digital Project</title>
	<!-- SEO -->
	<meta name="description" content="Digital Project ">
	<meta name="keywords" content="Digital, Project ">
	<META NAME="author" content="AVK">
	<!-- Favicon -->
	<link rel="shortcut icon" href="img/favicon.png">
	<!-- OG Tags -->
	<meta property="og:title" content="Digital Project ">
	<meta property="og:description" content="Digital Project ">
	<meta property="og:type" content="article">
	<meta property="og:image" content="img/favicon.png">
	<meta property="og:site_name" content="Digital Project ">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
	<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400&family=Open+Sans:wght@400..600&display=swap"
		rel="stylesheet">
	<link href="./css/fonts/tt-hoves/stylesheet.css" rel="stylesheet" type="text/css" />
	<link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/index.css">
</head>