<header id="header" class="animate__animated animate__fadeInDown">
  <div class="container">
    <div class="header">
      <a href="#" class="logo">
        @@include("svg/logo.html")
      </a>
      <div class="header__menu header__menu--mob-turn">
        <div class="header__mob-menu">
          <span></span>
          <button class="header__mob-btn">ПЕРЕЙТИ</button>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="menu__link menu__link--current">ГЛАВНАЯ</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">ГАЛЕРЕЯ</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">ПРОЕКТЫ</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">СЕРТИФИКАТЫ</a>
            </li>
            <li class="menu__item">
              <a href="#" class="menu__link">КОНТАКТЫ</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>