<main>
  <section id="intro" class="projects animate__animated animate__fadeInDown">
    <div class="container">
      <div class="intro">
        <div class="intro__slick-pictures">
          @@loop("_slide.html",[
          {"img":"intro","alt":"Big house"},
          {"img":"intro_revers","alt":"Big house in revers"}
          ])
        </div>
        <div class="intro__info">
          <div class="intro__slick-titles">
            <h1 class="title">PROJECT<span>HOME</span></h1>
            <h1 class="title">PROJECT<span>& HOME</span></h1>
          </div>
          <div class="intro__slick-btn-area">
            <button class="intro__slick-btn intro__slick-btn--prev">
              @@include("svg/arrow-prev.html")
            </button>
            <button class="intro__slick-btn intro__slick-btn--next">
              @@include("svg/arrow-next.html")
            </button>
            <hr class="line">
          </div>
          <div class="intro__slick-dot-area">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="about">
    <div class="container">
      <div class="about">
        <div class="about__back"></div>
        <div class="about__pictures">
          <div class="about__pictures-box">
            <div class="about__picture about__picture--ratio98">
              <img src="img/sec2_001_800_980.webp" alt="Glas house">
            </div>
            <div class="about__picture about__picture--ratio51 about__picture--margin">
              <img src="img/sec2_002_1200_675.webp" alt="Over glas house">
            </div>
          </div>
          <div class="about__picture about__picture--margin">
            <picture>
              <source srcset="img/sec2_003_1330_1270.webp" media="(min-width:1000px)">
              <source srcset="img/sec2_003_935_893.webp" media="(min-width:400px)">
              <source srcset="img/sec2_003_540_516.webp" media="(max-width:399px)">
              <img src="img/sec2_003_1330_1270.webp" alt="Corner of glas house">
            </picture>
          </div>
        </div>
        <div class="about__info">
          <h2 class="title">О компании</h2>
          <p class="about__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
            make a type specimen book. It has survived not only five centuries, but also the leap into electronic
            typesetting, remaining essentially unchanged.
          </p>
          <a href="#">
            @@include("_button-inner.html",{"class":"btn","label":"ЧИТАТЬ"})
          </a>
        </div>
      </div>
    </div>
  </section>
  <section id="tasks">
    <div class="container">
      <h2 class="title">Основные задачи</h2>
      <ul class="tasks__list">
        <li class="tasks__item">
          <div class="tasks__icon">
            @@include("svg/one.html")
          </div>
          <p class="tasks__text">
            <span>Создание комфортных условий и повышение качества обслуживания клиентов</span>
          </p>
        </li>
        <li class="tasks__item">
          <div class="tasks__icon">
            @@include("svg/two.html")
          </div>
          <p class="tasks__text">Постоянно совершенствовать качество предоставляемых услуг путем обучения персонала,
            закупки нового оборудования и усиленной рекламы на рынке</p>
        </li>
      </ul>
    </div>
  </section>
  <section id="projects">
    <div class="container">
      <h2 class="title">Наши проекты</h2>
      <ul class="gallery">
        <li class="gallery__item gallery__item--57">
          <img decoding="async" loading="lazy" src="img/001_570_255.webp" alt="ДОСУГОВЫЙ ЦЕНТР">
          <a href="#" class="gallery__blind">
            <h3 class="gallery__title"><span>ДОСУГОВЫЙ ЦЕНТР</svg></h3>
            @@include("_button-inner.html",{"class":"gallery__act","label":"ПОДРОБНЕЕ"})
          </a>
        </li>
        <li class="gallery__item gallery__item--57end">
          <img decoding="async" loading="lazy" src="img/002_570_255.webp" alt="">
          <a href="#" class="gallery__blind">
            <h3 class="gallery__title"><span>ВЕЕР</svg></h3>
            @@include("_button-inner.html",{"class":"gallery__act","label":"ПОДРОБНЕЕ"})
          </a>
        </li>
        <li class="gallery__item gallery__item--27">
          <img decoding="async" loading="lazy" src="img/003_270_255.webp" alt="">
          <a href="#" class="gallery__blind">
            <h3 class="gallery__title"><span>ДРОМ</svg></h3>
            @@include("_button-inner.html",{"class":"gallery__act","label":"ПОДРОБНЕЕ"})
          </a>
        </li>
        <li class="gallery__item gallery__item--47">
          <img decoding="async" loading="lazy" src="img/004_470_255.webp" alt="">
          <a href="#" class="gallery__blind">
            <h3 class="gallery__title"><span>ЖИЛОЙ ЦЕНТР</svg></h3>
            @@include("_button-inner.html",{"class":"gallery__act","label":"ПОДРОБНЕЕ"})
          </a>
        </li>
        <li class="gallery__item gallery__item--37">
          <img decoding="async" loading="lazy" src="img/005_370_255.webp" alt="">
          <a href="#" class="gallery__blind">
            <h3 class="gallery__title"><span>СПОРТ ЦЕНТР</svg></h3>
            @@include("_button-inner.html",{"class":"gallery__act","label":"ПОДРОБНЕЕ"})
          </a>
        </li>
      </ul>
      <a href="#" class="rigth">
        @@include("_button-inner.html",{"class":"alternativ-btn","label":"ВСЕ ПРОЕКТЫ"})
      </a>
    </div>
  </section>
  <section id="communication" class="communication">
    <div class="container">
      <h2 class="title">Связаться с нами</h2>
      <form action="#" id="message" class="message">
        <div class="message__wrup">
          <div class="message__fields">
            <input class="message__input" type="text" name="name" placeholder="Имя">
            <div class="message__box">
              <input class="message__input" type="tel" name="tel" placeholder="" required>
              <label>Номер телефона<span>*</span></label>
            </div>
            <div class="message__box">
              <input class="message__input" type="email" name="mail" placeholder="" required>
              <label>E-mail<span>*</span></label>
            </div>
            <input class="message__input" type="text" name="product" placeholder="Интересующий товар/услуга">
            <div class="message__box">
              <textarea id="messagebody" class="message__area" name="messagebody" cols="30" rows="10" placeholder=""
                required></textarea>
              <label>Сообщение<span>*</span></label>
            </div>
          </div>
          <div class="message__picture">
            <img decoding="async" loading="lazy" srcset="
      									img/image_12_800_534.webp 800w,
      									img/image_12_1480_987.webp 1480w" sizes="
      									(max-width: 574px) calc(100vw - 10%),
      									(max-width: 766px) 540px,
      									(max-width: 990px) 461px,
      									(max-width: 1198px) 615px,
      									749px" src="img/image_12_1480_987.jpg" alt="Man with phon">
          </div>
        </div>
        <span class="message__policy">
          Отправляя заявку Вы соглашаетесь с политикой конфиденциальности
        </span>
        <button type="submit">
          @@include("_button-inner.html",{"class":"alternativ-btn","label":"ОТПРАВИТЬ"})
        </button>
      </form>
    </div>
  </section>
</main>